<div class="allabout">
    <div class="content">
        <div class="aboutme">About me</div>
        <div class="myname">My name is Sourav.</div>
        <div class="aboutdiv">I am a Full Stack Developer. For the past few years, I have been building optimized &
            responsive websites and frontend applications.
        </div>
        <div class="aboutdiv">My interests are manifold and constantly evolving, including capturing moments on my
            phone, learning new musical instruments, cooking some awesome delicacies and exploring Himalayan ranges.
            Visit my <a href="#">Instagram</a> profile to have a look on some of my clicks.
        </div>
        <div class="aboutdiv">Have a project or idea, I would love to discuss. Let's connect over <a href="#">LinkedIn.</a>
        </div>
    </div>
    <div class="myimage"><img src="assets/IMG-20221128-WA00041.jpg" alt="ganesh"></div>
</div>