<div class="catchupAll">
    <div class="gotIdea">Got an idea? Lets connect!</div>
    <div class="contacts">
        <ul>
            <li><a href="#"><img src="assets/61109.png"><div class="item"> souravdhalisd@gmail.com</div></a></li>
            <li><a href="#"><img src="assets/61109.png"><div class="item"> LinkedIn</div></a></li>
            <li><a href="#"><img src="assets/61109.png"><div class="item"> Github</div></a></li>
            <li><a href="#"><img src="assets/60580.png"><div class="item"> Instagram</div></a></li>
            <li><a href="#"><img src="assets/60580.png"><div class="item"> Twitter</div></a></li>
        </ul>
    </div>
</div>
<div class="footer">
    <div class="love">Made with <img src="assets/Love_Heart_SVG.svg.png"> in India</div>
    <div class="copyright"><img src="assets/copyright-symbol-isolated-on-transparent-260nw-654664078.jpg"> No Copyrights.</div>
</div>