<div class="totalwork">
    <div class="experience">Work Experience</div>
    <div class="frontendegineer">Frontend Engineer.</div>
    <div class="place">From Kolkata</div>
    <div class="job">
        <div class="p3_forth1">
            <div class="job1role">Software Developer I</div>
            <div class="job1time">Decemeber 2020 - July 2022</div>
        </div>
        <div class="theline"></div>
        <div class="p3_forth3">
            <div class="job3role">Associate Software Developer</div>
            <div class="job1time">July 2019 - November 2020</div>
        </div>
    </div>
    <div class="works">
        <ul>
            <li><span>Teams : </span>
                <p>One Photo, Webmai</p>
            </li>
            <li><span>Tech Stack : </span>
                <p>HTML/CSS/Javascript, React.js, Node.js, PostgreSQL</p>
            </li>
            <li><span>Major Work : </span>
                <p>Collaborated with Product & Design team to revamp UI/UX of One Photo and Settings page of
                    Webmail. Also, worked on providing support for Live Photos in One Photo UI & zoom feature for
                    the images.</p>
            </li>
        </ul>
    </div>
</div>