<div class="skills">
    <div class="technical"> Technical Skills </div>
    <div class="allTechnicals">
        <div class="topics">
            <div class="topicname">Frontend</div>
                <ul>
                    <li>HTML</li>
                    <li>CSS/LESS/SASS</li>
                    <li>Javacript</li>
                    <li>React.js</li>
                    <li>Redux</li>
                    <li>Knockout.js</li>
                    <li>Cypress</li>
                </ul>
        </div>
        <div class="topics">
            <div class="topicname">Backebd</div>
                <ul>
                    <li>Node.js</li>
                    <li>Express.js</li>
                    <li>Rest API</li>
                    <li>PostgreSQL</li>
                    <li>MongoDB</li>
                    <li>Jest</li>
                </ul>
        </div>
        <div class="topics">
            <div class="topicname">Tools & Technonogies</div>
                <ul>
                    <li>Webpack</li>
                    <li>Babel</li>
                    <li>Docker</li>
                    <li>Swagger</li>
                    <li>Git</li>
                    <li>NPM</li>
                </ul>
        </div>
    </div>
</div>